// COLORS

$black : #000000;
$white : #FFFFFF;
$dark  : #333333;

$mainbg : #f6f7f8;
$gold: #ffd000;
$blue: #2b44da;

$copy: #18181f;
$cta-red: #ea1f48;
$error: #FF0000;

$fb-blue: #5068a2;

// FONTS

$font--default : 'Open Sans', sans-serif;

// WEIGHTS

$font--reg : 400;
$font--semibold : 600;
$font--bold : 700;

// SCREEN SIZES

$scr--phablet : 480;
$scr--tablet : 768;
$scr--std: 960;
$scr--wrap : 960;
$scr--wrappad : 1224;

// MISC

$fontSize--default : 1.4rem;
$fontSize--small : 1.2rem;
$lineHeight--default : 1.3;
$imgassets : '../img/';
$duration : .1s;

$wrapped: $scr--wrap + 40 + px; // 844 site width + 20px padding either side